<div class="container">
<% @circuits.each do |circuit| %>
  <ul>
    <li><%= circuit.num_laps %></li>
    <li><%= circuit.stroke %></li>
    <li><%= circuit.swim_session_id %></li>
    <li><%= circuit.created_at %></li>
    <li><%= circuit.updated_at %></li>

  </ul>
<% end %>
