<div class="container">

<h3 class="text-center">My Statistics:</h3>

  <ul class="text-center" id="userindexlist">
    <li class="text-center">Height:     <%= @user.height %></li>
    <li class="text-center">Weight:     <%= @user.weight %></li>
    <li class="text-center">DOB:        <%= @user.born_on %></li>
    <li class="text-center">Gender:     <%= @user.gender %></li>
    <li class="text-center">Email:      <%= @user.email %></li>
    <li class="text-center">First Name: <%= @user.first_name %></li>
    <li class="text-center">Last Name:  <%= @user.last_name %></li>
    <li class="text-center">Created:    <%= @user.created_at %></li>
    <li class="text-center">Updated:    <%= @user.updated_at %></li>
  </ul>


</div>
