<h1 class="text-center"><%= @user.first_name %></h1>

  <h3 class="text-center">My Swim Sessions:</h3>

  <% @swim_sessions.each do |swim| %>
    <p class="text-center"> Name of pool: <%= link_to "#{swim.location}", swim_session_path(swim.id) %></p>
    <p class="text-center"><%= swim.pool_length %> Meters </p>
    <p class="text-center"> Last swim: <%= swim.date %></p>
    <p class="text-center"> Session Length: <%= swim.minutes_long %> minutes </p>
    <p class="text-center"> User ID: <%= swim.user_id %></p>
  <% end %>


<!-- <div class="container">
  <% @swim_sessions.each do |swim| %>
  <ul>
    <li><%= swim.location %></li>
    <li><%= swim.date %></li>
    <li><%= swim.pool_length %></li>
    <li><%= swim.minutes_long %></li>
    <li><%= swim.user_id %></li>
    <li><%= swim.created_at %></li>
    <li><%= swim.updated_at %></li>

  </ul>

  <% end %>
</div>


